
@{
    ViewData["Title"] = "TeamInfo";
}
<div class="teaminfodiv">

<p class="teaminfotext">
    Lorem ipsum dolor sit amet, 
    consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
    Senectus et netus et malesuada fames ac. 
    Gravida in fermentum et sollicitudin ac orci phasellus egestas tellus. 
    Ultricies mi quis hendrerit dolor. Eu volutpat odio facilisis mauris sit amet massa vitae tortor. 
    Cursus turpis massa tincidunt dui. Elementum facilisis leo vel fringilla est ullamcorper. 
    Facilisis volutpat est velit egestas dui id ornare arcu odio. 
    Amet mauris commodo quis imperdiet massa tincidunt. 
    Et malesuada fames ac turpis egestas maecenas. Parturient montes nascetur ridiculus mus mauris vitae ultricies.
    Scelerisque eleifend donec pretium vulputate sapien nec. 
    Id aliquet lectus proin nibh nisl condimentum id venenatis. 
    Venenatis lectus magna fringilla urna porttitor rhoncus dolor. 
    Commodo elit at imperdiet dui accumsan. 
    Quis commodo odio aenean sed adipiscing diam. Amet purus gravida quis blandit turpis cursus. 
    Pellentesque adipiscing commodo elit at. Aenean pharetra magna ac placerat vestibulum lectus mauris. 
    Sit amet consectetur adipiscing elit duis tristique. Gravida in fermentum et sollicitudin ac orci phasellus egestas.
    Proin sed libero enim sed faucibus turpis in eu. In est ante in nibh mauris cursus mattis. 
    Enim ut tellus elementum sagittis vitae et. Nibh nisl condimentum id venenatis.
    Mus mauris vitae ultricies leo integer malesuada nunc. 
    Adipiscing tristique risus nec feugiat in fermentum posuere urna.
</p>
</div>